@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #F60;
  --primary2-color: #ffb300;
  --white: white;
  --secondary-color: #A6D5FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
