@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #F60;
  --primary2-color: #ffb300;
  --white: white;
  --secondary-color: #A6D5FF;
  --headervideo-color: #303030;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}
main.MainContainer {
  width: 100%;
  height: 100%;
}
header.HeaderContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
div.HeaderContainerContent {
  width: 100%;
  height: 100%;
  z-index: 10;
  color: var(--white);
}
div.HeaderContainerVideoContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--headervideo-color);
  z-index: -10;
}

nav.NavBarContainer {
  width: 100%;
  height: 15%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  padding: 2rem;
}

nav.NavBarContainer div.NavBarItemsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
nav.NavBarContainer div.NavBarItemsContainer > ul{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

h1.NavTitle{
 font-size: 2.5em;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 4rem;
}
.navItem{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.25em;
}

div.HeaderContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.headerSlogan1, .headerSlogan2 {
  font-size: 3rem;
  font-weight: lighter;
}

.orangeColor {
  color: var(--primary-color);
  font-weight: normal;
}


section.AboutContainer{
  width: 100%;
  height: 90%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
  margin: 0 0 2.5em 0;
}
div.AboutTextContainer{
  width: 80%;
  height: 20%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
h2.AboutTitle{
  font-size: 2em;
  font-weight: bold;
}
p.AboutText{
  font-weight: 300;
}

.AboutServicesContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.AboutServiceContainer {
  width: 25%;
  height: 45%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  background: var(--headervideo-color);
}

footer.FooterContainer {
  width: 100%;
  height: 30%;
  background: var(--primary2-color);
}

.FooterContent {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; /* Dos columnas iguales para la primera fila */
  grid-template-rows: 1fr auto; /* Dos filas: primera ajustable y la segunda se adapta a su contenido */
  gap: 10px; /* Espacio opcional entre los elementos */
}

.FooterTitleSection {
  grid-column: 1 / 2; /* Primera columna de la primera fila */
  grid-row: 1 / 2;    /* Primera fila */ /* Color de fondo para identificar */
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
}

h2.FooterTitle {
  width: 50%;
  font-size: 3em;
  font-weight: normal;
  color: var(--white);
}
div.SocialMediaContainer{
  width: 50%;
  height: auto;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: start;
  gap: 10px;
  color: var(--white);
}
div.LinkedInMedia{
  display: flex;
  justify-content: center;
  align-items: center;
}
div.InstagramMedia{
  display: flex;
  justify-content: center;
  align-items: center;
}

div.GitMedia{
  display: flex;
  justify-content: center;
  align-items: center;
}

.SpanMedia {
  margin-left: .2em;
}

.FooterContactSection {
  grid-column: 2 / 3; /* Segunda columna de la primera fila */
  grid-row: 1 / 2;    /* Primera fila */ /* Color de fondo para identificar */
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  color: var(--white);
  padding-left: 5em;
}
.MailContainer{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.LinkedInContainer{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}
.ContactContainer{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.ContactContainer > .ContactBtn{
  width: 25%;
  background: var(--headervideo-color);
}

.FooterCopySection{
  width: 100%;
  height: 100%;
  text-align: center;
  margin-bottom: 1.75rem;
  color: var(--white);
}


.FooterCopySection {
  grid-column: 1 / 3; /* Ocupa ambas columnas en la segunda fila */
  grid-row: 2 / 3;    /* Segunda fila */ /* Color de fondo para identificar */
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
