@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #F60;
  --primary2-color: #ffb300;
  --white: white;
  --secondary-color: #A6D5FF;
  --headervideo-color: #303030;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0;
}
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
}
main.MainContainer {
  width: 100%;
  height: 100%;
}
header.HeaderContainer {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
div.HeaderContainerContent {
  width: 100%;
  height: 100%;
  z-index: 10;
  color: var(--white);
}
div.HeaderContainerVideoContainer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: var(--headervideo-color);
  z-index: -10;
}

nav.NavBarContainer {
  width: 100%;
  height: 15%;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
  padding: 2rem;
}

nav.NavBarContainer div.NavBarItemsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}
nav.NavBarContainer div.NavBarItemsContainer > ul{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

h1.NavTitle{
 font-size: 2.5em;
  font-weight: lighter;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 4rem;
}
.navItem{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-size: 1.25em;
}

div.HeaderContent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.headerSlogan1, .headerSlogan2 {
  font-size: 3rem;
  font-weight: lighter;
}

.orangeColor {
  color: var(--primary-color);
  font-weight: normal;
}


section.AboutContainer{
  width: 100%;
  height: 90%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}
div.AboutTextContainer{
  width: 80%;
  height: 20%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
h2.AboutTitle{
  font-size: 2em;
  font-weight: bold;
}
p.AboutText{
  font-weight: 300;
}

.AboutServicesContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
}
.AboutServiceContainer {
  width: 25%;
  height: 45%;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-around;
  background: var(--headervideo-color);
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
